/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1, h2, p {
	color: grey
}
h1 {
	border-bottom: 2px solid grey;
	padding-bottom: 20px;
	margin: 4px
}
#wrapper img {
	border: 5px solid grey
}
#links a {
	float: left;
	border: 3px solid rgb(201, 185, 185);
	width: 25%;
	box-sizing: border-box
}
